body{
    /* color: red; */
}





.sidebar{
    background-image: url(https://cdn.statically.io/gh/TheOdinProject/curriculum/5f37d43908ef92499e95a9b90fc3cc291a95014c/html_css/project-sign-up-form/odin-lined.png);
    background-size: 100% 100%;
    
}

.odin-logo{
    display: flex;
    background-color: rgb(0,0,0, 0.4);
}