*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

.container  {
    display: flex;
    height: 570px;
    margin: 0px;
}

.sidebar{
    background-image: url(/img/image.png);
    width: 30%;
}

.sidebar > img{
    width: 100%;
}

.odin-logo > img{
    width: 60px;
    height: 60px;
}
.odin-logo{
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.65);
    color: white;
    margin-top: 34%;
    justify-content: center;
    height: 80px;
}
.para{
    font-size: 0.7rem;
    color: white;
    margin-top: 85%;
    text-align: center;
}
.para a{
    color: white;
}

.main-form{
    width: 70%;
    background-color: aliceblue;
}

.row-wrapper{
    display: flex;
    gap: 40px;
}

.form-wrapper{
    background-color: white;
    padding: 10px;
    height: 240px;
    box-shadow: 0 3px 6px grey;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 0.7rem;
    gap: 4px;
}

input{
    width: 200px;
    height: 24px;
    border: 1px solid #726f6f;
    border-radius: 4px;
}

h3{
    margin: 10px;
}

h2.large{
    margin: 50px 20px 0 20px;
    max-width: 60ch;
    font-size: 1.3rem;
}
h2.small{
    margin: 20px;
    font-size: 1.3rem;
}
p{
    margin: 10px 15px;
}

a{
    color: #596D48;
}

button{
    margin-top: 50px;
    margin-left: 15px;
    background-color: #596D48;
    color: white;
    border: none;
    height: 30px;
    width: 130px;
    border-radius: 6px;
    cursor: pointer;
}

input:focus{
    outline: none;
    border-color:  #214ddc;
}

input:invalid{
    border-color:  #ff0000;
}